.idea/
.goreload
.goreload.exe
.pulse
.pulse.exe
.DS_Store
.gradle
Binaries
DerivedDataCache
Intermediate
Saved
Build
tmp
.local.env
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
entschema
certs
.env
server
build
.build
/bin/

